<div ng-module="myApp.search">

    <div class="page-header">
        <h4>{{page.title}}</h4>
    </div>

    <div class="search">
        <div ng-controller="searchCtrl" class="input-group col-xs-12 col-sm-6 col-sm-offset-3">
            <input type="text" ng-model="searchQuery" class="form-control" placeholder="{{page.searchText}}">
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="searchMovie()" type="button">{{page.searchBtn}}</button>
                </span>
        </div>
    </div>

    <table class="table table-hover">

        <tr ng-repeat="movie in searchData">
            {{movie.title}}
        </tr>

    </table>


</div>